:root {
  --bg-color: #f3f4f6;
  --primary-dark: #14532d;
  --primary-light: #22c55e;
  --text-color: #0f0f0f;
  --white: #ffffff;
  --code-bg: #e7f5ec;
  --footer-bg: #e0f2e9;
  --border: #cbd5e1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: 1.7;
  padding: 0;
}

header {
  background-color: var(--primary-dark);
  color: var(--white);
  padding: 2rem 1rem;
  text-align: center;
  margin-bottom: 2rem;
  border-radius: 8px;
}

header h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  gap: 1rem;
}

nav ul li a {
  color: var(--white);
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
  transition: background 0.3s;
  border-radius: 5px;
}

nav ul li a:hover {
  background-color: var(--primary-light);
  color: var(--text-color);
}

main {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 0 1rem;
}

section {
  margin-bottom: 3rem;
  padding: 1rem;
  background-color: var(--white);
  border-left: 5px solid var(--primary-light);
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

section h2 {
  color: var(--primary-dark);
  margin-bottom: 1rem;
}

article h3 {
  color: var(--primary-light);
  margin-top: 1.5rem;
}

pre {
  background-color: var(--code-bg);
  padding: 1rem;
  overflow-x: auto;
  font-size: 0.9rem;
  border-left: 4px solid var(--primary-dark);
  border-radius: 4px;
  margin-top: 0.5rem;
  white-space: pre-wrap;
}

code {
  font-family: "Courier New", monospace;
  color: var(--primary-dark);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  border: 1px solid var(--border);
}

table th,
table td {
  padding: 0.75rem 1rem;
  border: 1px solid var(--border);
  text-align: left;
}

table th {
  background-color: var(--primary-light);
  color: var(--white);
}

table td {
  background-color: var(--white);
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: var(--footer-bg);
  color: var(--text-color);
  font-size: 0.9rem;
  margin-top: 2rem;
}

.lista-1999 {
    margin-left: 50px;
}

#que-es{
    box-shadow: #14532d;
}

#que-es:hover{
    box-shadow: 0 0 10px #14532d;
}

#uso{
    box-shadow: #14532d;
}

#uso:hover{
    box-shadow: 0 0 10px #14532d;
}

#versiones{
    box-shadow: #14532d;
}

#versiones:hover{
    box-shadow: 0 0 10px #14532d;
}

#diferencias{
    box-shadow: #14532d;
}

#diferencias:hover{
    box-shadow: 0 0 10px #14532d;
}

#conclusion{
    box-shadow: #14532d;
}

#conclusion:hover{
    box-shadow: 0 0 10px #14532d;
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  header h1 {
    font-size: 1.5rem;
  }

  nav ul li a {
    padding: 0.5rem;
  }

  main {
    padding: 0 1rem;
  }
} 
